* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}


a {
  text-decoration: none;
}

.clear {
  clear: left;
}

ol {
  padding:0;
}


ul {
  margin:0;
  padding:0;
  list-style:none;
}


header {
  height:100px;
  width:100%;
  background-color: rgba(34, 49, 52, 0.9);
  padding-left:30px;
  padding-top:1px;
  font-weight:bold;
}

header p{
  color:white;
  font-size:30px;  
}

.main{
  padding-top:20px;
  padding-left:58px;
  padding-right:58px;
  padding-bottom:50px;
  color:black;
  font-size:18px;
}

.breadcrumbs_list li {
  font-size:16px;
	display: inline-block;
	margin-right: 5px;
	padding-left: 25px;
	background: url(img/icon.png) left center/25px auto no-repeat;
}
.breadcrumbs_list li:first-child {
	margin-left: 0;
	padding-left: 0;
	background: none;
}
.list{
  margin-bottom:30px;
  border-bottom: 5px solid black;
  font-size:25px;
}

.line{
  border-bottom: 3px solid black;
  font-size:20px;
}

.item{
  font-size:18px;
  width:320px;
  display:inline-block;
  text-align: center;
  margin-right:10px;
  margin-bottom:15px;
}

.item:active{
  opacity:0.8;
  background-color:#C0C0C0;
}

.place{
  font-size:20px;
  font-weight:bold;
}

.info{
  font-size:16px;
  padding-top:1px;
  padding-bottom:5px;
  margin-bottom:10px;
  border-bottom:2px solid black;
}      

.pic{
  width:426px; 
  height:284px
}

.pic-l{
  width:284px; 
  height:426px;
}

.footer {
  background-color:rgba(34, 49, 52, 0.9);
  height: 140px;
  color:white;
}

.footer-logo{
  font-size:25px;
  padding-left:30px;
  padding-top:10px;
}

.footer-logo a{
  color:white;
}

.footer-list {
  float:right;
  padding-right:20px;
}

.footer-list li {
  margin-bottom:5px;
}

.footer-list li a{
  color:white;
}

.emphasis{
  color:red;
}

/*スマホ向け*/

@media all and (max-width: 670px) {
  header {
    height:65px;
    width:100%;
    background-color: rgba(34, 49, 52, 0.9);
    padding-left:20px;
  }
  
  header p{
    color:white;
    font-size:20px;  
  }

  .main{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    color:black;
    font-size:15px;
  }
  
  .list{
    border-bottom: 5px solid black;
    font-size:20px;
  }

  .line{
    font-size:18px;
  }

  .type{
    text-align:center;
    margin:0 auto; 
  }
  
  
  .item{
    font-size:16px;
    width:320px;
    display:inline-block;
    text-align: center;
    margin-right:10px;
    margin-bottom:15px;
  }

  .place{
    font-size:20px;
  }
  
  .pic{
    width:320px; 
    height:213px;
  }
  
  .pic-l{
    width:213px; 
    height:320px;
  }

  .footer {
    margin-top:30px;
    background-color:rgba(34, 49, 52, 0.9);
    height: 120px;
    color:white;
  }
  
  .footer-logo{
    font-size:20px;
    padding-left:10px;
    padding-top:10px;
    color:white;
  }
  
  .footer-list {
    float:right;
    padding-right:15px;
    color:white;
    font-size:13px;
  }

}